<h1>Contact saved!</h1>

<p>Great success!!!</p>

<p><a href="/contacts/<%= @address.contact_id %>">View <%= Contact.find(@address.contact_id).name %></a></p>

<p><a href="/contacts">Return to contacts</a></p>
