<h1>Wikipages</h1>

<div class="col-md-6">
  <ul>
    {{#each contact in controller itemController='contact'}}
      <li>{{#link-to 'contact' contact}}{{contact.name}}{{/link-to}}
        <button {{action deleteContact}} class="btn btn-danger btn-xs">Delete</button></li>
    {{/each}}
  </ul>

  <p>{{#link-to 'new_contact'}}New contact{{/link-to}}</p>
</div>
<div class="col-md-6">
  {{outlet}}
</div>
