<h1>Edit Email</h1>

<% if @email.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @email.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<form action="/contacts/<%= @email.contact_id %>/emails/<%= @email.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="email">Email: </label>
  <input id="email" name="email" type="text" value="<%= @email.email %>">
  <button>Update Email</button>
</form>


